<div class="panel">
  <div>
    <h2>
      Metrics for the week of 
      <%= @range.begin.strftime("%Y-%m-%d") %> - <%= @range.end.strftime("%Y-%m-%d") %>
    </h2>
    <div>
      <%= link_to "Last Week's Metrics", weekly_metrics_path(:for => 1.week.ago(@for_week_of).strftime("%Y%m%d")) %>
      <% unless @range.cover?(Time.now) %>
      <%= link_to "Current Week's Metrics", weekly_metrics_path %>
      <% end %>
    </div>
  </div>

  <div>
    <span class="weekly-total-count"><%= @total_appointments_count %></span>
    <%= "appointment".pluralize(@total_appointments_count) %> this week
  </div>
</div>