<button id="show-calendar" class="link">My Calendar</button>
<%= render partial: "calendar", :locals => {:events => @mentoring_appointments} %>
<% unless @availabilities.empty? %><h2>My upcoming availability</h2><% end %>
<% @availabilities.each do |a| %>
<div class="panel">
	<p>
	  On <%= display_availability(a) %>
	  <%= link_to "Delete!", availability_path(a), :method => :delete %>
	</p>
</div>
<% end %>

<% unless @menteeing_appointments.empty? %>
	<div id="menteeing-appointments" class="appointments">
		<h2>My upcoming appointments with mentors</h2>
		<%= render @menteeing_appointments %>
	</div>
<% end %>

<% unless @mentoring_appointments.empty? %>
	<div id="mentoring-appointments" class="appointments">
		<h2>My upcoming appointments with mentees</h2>
		<%= render @mentoring_appointments %>
	</div>
<% end %>

<% unless @menteeing_past_appointments.empty? %>
	<div id="menteeing-past-appointments" class="appointments">
		<h2>My past appointments with mentors</h2>
		<%= render @menteeing_past_appointments %>
	</div>
<% end %>

<% unless @mentoring_past_appointments.empty? %>
	<div id="mentoring-past-appointments" class="appointments">
		<h2>My past appointments with mentees</h2>
		<%= render @mentoring_past_appointments %>
	</div>
<% end %>
