<div id="calendar">
  <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
  <%= h @date.strftime("%B %Y") %>
  <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
  <%= calendar_for @mentoring_appointments, :year => @date.year, :month => @date.month do |calendar| %>
  <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
  <%= calendar.day(:day_method => :start_time) do |date, appointment| %>
    <% if @mentoring_appointments.empty? %>
      <%= date.day %>
    <% else %>
      <%= date.day %>
      <ul class="daily_appointments">
      <% appointment.each do |appt| %>
        <li><%= appt.mentee.first_name %></li>
      <% end %>
      <ul>
    <% end %>
  <% end %>
<% end %>
</div>
<% unless @availabilities.empty? %><h2>My upcoming availability</h2><% end %>
<% @availabilities.each do |a| %>
<div class="panel">
	<p>
	  On <%= display_availability(a) %>
	  <%= link_to "Delete!", availability_path(a), :method => :delete %>
	</p>
</div>
<% end %>

<% unless @menteeing_appointments.empty? %><h2>My upcoming appointments with mentors</h2><% end %>
<% @menteeing_appointments.each do |a| %>
<div class="panel">
	<p>
	  <%= display_appointment(a) %>
	</p>  
</div>
<% end %>

<% unless @mentoring_appointments.empty? %><h2>My upcoming appointments with mentees</h2><% end %>
<% @mentoring_appointments.each do |a| %>
<div class="panel">
	<p>
	  <%= display_appointment(a) %>
	</p>
</div>
<% end %>
