<div class="panel">
  <p>
    <%= link_to(appointment.mentor.name, appointment.mentor)%>
    <%= future_or_past_tense(appointment.start_time) %>
    <%= link_to(appointment.mentee.name, appointment.mentee) %>
    on
    <%= display_availability(appointment) %>
    <% if appointment.in_future? %>
      <%= link_to "Delete!", appointment_path(appointment, code: appointment.mentor.activation_code),
            :method => :delete, :id => "delete_appointment_#{appointment.id}" %>
    <% end %>
  </p>
</div>
