<div id="availabilities">
  <h2>Available Mentoring Opportunities</h2>

  <% if @availabilities.empty? %>
    <div class="panel">
  	  <p><span aria-hidden="true" class="icon" data-icon="&hearts;"></span> There isn't currently any upcoming mentoring availibility. <%= link_to "Offer to mentor someone!", new_availability_path %></p>
  	</div>
  <% end %>

  <% @availabilities.each do |a| %>
    <div class="panel">
    	<p>
    		<%= image_tag a.mentor.gravatar_url, :class => "left" %>
    		<span aria-hidden="true" class="icon" data-icon="&hearts;"></span>
    	  <%= link_to a.mentor.name, user_path(a.mentor) %>
    	  on <%= display_availability(a) %>
    	</p>
    	<p>
    		<%= link_to "Sign up", new_appointment_request_path(:availability_id => a.id) %>
    	</p>
    </div>
  <% end %>
</div>

<% unless @appointments.empty? %>
<div id="appointments">
  <h2>Upcoming Mentoring Appointments</h2>
  <div class="panel">
    <% @appointments.each do |a| %>
      <div class="appointment">
        <p>
          <%= link_to_user(a.mentor) %>
        </p>
        <p>
          <span aria-hidden="true" class="icon" data-icon="&hearts;"></span>
        </p>
        <p>
          <%= link_to_user(a.mentee) %>
        </p>
        <p>
          <%= appointment_time_in_words(a) %> at <%= a.location %>
        </p>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<div id="manage">
  <div class="panel">
    <%= link_to "Manage my appointments", manage_users_path %>
  </div>
</div>

<div id="featured_mentors">
  <h2>Top Mentors</h2>
  <div class="panel">
  <% @featured.each do |user| %>
    <p>
      <span aria-hidden="true" class="icon" data-icon="&hearts;"></span>
      <%= link_to_user user %>
    </p>
  <% end %>
  </div>
</div>
