<div class="tabs">
  <div id="basics" class="tab active">
    The Basics
  </div>
  <div id="more" class="tab">
    Tell Us More
  </div>
</div>

<div class="panel">
  <%= form_tag availabilities_path do %>
    <div class="field"><label>Email address</label><%= text_field_tag :email %></div>
    <div class="field"><label>Name</label><%= text_field_tag :first_name %><%= text_field_tag :last_name %></div>
    <div class="field"><label>Twitter handle<span class="addon">@</span></label><%= text_field_tag :twitter_handle %></div>

    <!-- optional/hidden form fields -->
    <div id="optional_fields" class="hidden">
      <div class="field">
        <label>Your tech interests</label>
        <%= text_field_tag :interests %>
      </div>

      <div class="field">
        <label>A brief bio</label>
        <textarea name="bio", id="bio"></textarea>
      </div>
    </div>

    <div class="field">
      <label>Date &amp; time available for mentoring</label>
      <%= text_field_tag 'availability[start_time_1s]', Date.current, :name => 'availability[start_time(1s)]' %>
      <%= hour_select %>
      <%= minute_select %>
      <%= ampm_select %>

      <div style="margin-left: 180px;" id="availability_recurrence">
        <div>
          <input type="checkbox" name="availability[setup_recurring]" value="1" class="setup_recurrence" id="availability_setup_recurring" />
          Offer this availability every
          <select name="availability[recur_weekly]" id="availability_recur_weekly">
            <option value="1">week</option>
            <option value="2">2 weeks</option>
            <option value="4">month</option>
          </select>,
          <select name="availability[recur_num]" id="availability_recur_num">
            <%= options_for_select(1...10, 3) %>
          </select>
          more times.
        </div>
        <div class="recurrence_pattern" style="display: none"></div>
        <script type="text/html" class="template">
        <span>
          You would be offering this appointment on
          <span class="dates_recurring"></span>
          at <span class="time_recurring"></span>
        </span>
        </script>
      </div>
    </div>

    <div class="field"><label>Duration in minutes</label><%= text_field :availability, :duration %></div>
    <div class="field"><label>City</label><%= select(:availability, :city, options_for_select(Location::CITY_NAMES) ) %></div>
    <div class="field"><label>Timezone</label><%= time_zone_select(:availability, :timezone, ActiveSupport::TimeZone.us_zones, default: "Central Time (US & Canada)") %></div>
    <div class="field"><label>Location</label><%= text_field :availability, :location %></div>
    <input id="submit_availability" type="submit" />
  <% end %>
</div>
